/*EL ASTERISCO INFLUYE SOBRE TODAS; MENOS LAS QUE YA ESTAN ASIGNADAS A ALGO*/
*{
    color:blue;

}

p, span /*ELEMENTOS SEPARADOS CON COMA; SE LE APLICAN MISAMAS PROPIEDADES*/
{
    color:red;
    width: 300px;
}

/*
UN COMENTARIO EN CSS
*/

h1{
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
    font-weight: bold;
    color:grey;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;


    /* SIEMPRE ES: ARRIBA, A LA DERECHA, ABAJO Y A LA IZQUIERDA  (Para escribirlo todo junto)*/ 
            padding: 20px 15px 15px 20px /* COMO LAS AGUJAS DEL RELOJ*/


    /*                        
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
    */
}
 

section {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
  


  #mi_parrafo 
  {
    color: green;
    font-size: 23px;
    border: 1px  solid orange;
  }


  .estaesmiclase
  {
    font-weight: bold;
    color: blueviolet;
  }

  /*
    section h1
    {
      font-size:400px;
    }
  */